$primary-color: #f72585;

$secondary-color: #b5179e;

$terciary-color: #7209b7;

$quaternary-color: #560bad;

$quinary-color: #480ca8;

$senary-color: #3a0ca3;

$text-color: #555555;

$background-color: #eeeeee;

$background-color-2: #f5f5f5;

